body {
  margin: 0;
  font-family: Arial;
}

.header {
  background: #0A1F44;
  color: white;
  padding: 10px;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #eee;
  display: flex;
  justify-content: space-around;
}